/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color:  #00cc00;
	border-radius: 3px;
	background: #222222;
	box-shadow: none;
	color: #ffffff;
	font-size: .75rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: none;

	&:hover {
		border-color: #00cc00;
	}

	&:active,
	&:focus {
		border-color: #00cc00;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #00cc00;
	border-radius: 3px;

	&:focus {
		color: #ffffff;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
